<h1>@Resources.Article.Article04Title</h1>
<p class="intend">@Resources.Article.Article04P01</p>
<p class="intend">@Resources.Article.Article04P02</p>
<p class="intend">@Resources.Article.Article04P03</p>
<hr />
<img src="/images/article/4.jpg">
<hr />
