.content {
    text-align: center;
    background: none;
}

.article {
    margin: 25px auto;
    display: inline-block;
    max-width: 1000px;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 1px 20px #bcbcbc;
    background-color: white;
}

    .article h1 {
        color: #f34109;
        font-size: 37px;
        margin: 40px 0;
        font-family: 'Times New Roman', Times, serif;
    }

    .article h2 {
        color: #f34109;
        text-align: left;
        font-size: 30px;
        margin: 10px 0;
        font-family: 'Times New Roman', Times, serif;
    }

    .article .intend {
        text-indent: 2em;
    }

    .article p {
        display: block;
        margin: 20px 0;
        text-align: left;
        font-size: 20px;
        line-height: 40px;
        color: #333333;
    }

    .article a {
        text-align: left;
        font-size: 25px;
    }

    .article img {
        margin: 10px 0;
    }

    .article .medpic {
        width: 650px;
    }

    .article .picinfo {
        display: block;
        margin: 0;
        text-align: center;
        font-weight: bolder;
        font-size: 18px;
    }

hr {
    height: 30px;
    width: 100%;
    border: none;
}
